<!DOCTYPE html>
<html lang="en">
   
  <head>
  
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>B.E Tracker</title>
    
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles.css') }}">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='form.css') }}">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='bars.css') }}">
    <link rel="stylesheet"type= "text/css" href= "{{ url_for('static',filename='multi.css') }}">
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.14.0/css/all.css"
      integrity="sha384-HzLeBuhoNPvSl5KYnjx0BT+WB0QEEqLprO+NBkkk5gbc67FTaL7XIGa2w1L0Xbgc"
      crossorigin="anonymous"
    />
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
    <!-- Start of Async Drift Code -->
    <script>
      "use strict";
      
      !function() {
        var t = window.driftt = window.drift = window.driftt || [];
        if (!t.init) {
          if (t.invoked) return void (window.console && console.error && console.error("Drift snippet included twice."));
          t.invoked = !0, t.methods = [ "identify", "config", "track", "reset", "debug", "show", "ping", "page", "hide", "off", "on" ], 
          t.factory = function(e) {
            return function() {
              var n = Array.prototype.slice.call(arguments);
              return n.unshift(e), t.push(n), t;
            };
          }, t.methods.forEach(function(e) {
            t[e] = t.factory(e);
          }), t.load = function(t) {
            var e = 3e5, n = Math.ceil(new Date() / e) * e, o = document.createElement("script");
            o.type = "text/javascript", o.async = !0, o.crossorigin = "anonymous", o.src = "https://js.driftt.com/include/" + n + "/" + t + ".js";
            var i = document.getElementsByTagName("script")[0];
            i.parentNode.insertBefore(o, i);
          };
        }
      }();
      drift.SNIPPET_VERSION = '0.3.1';
      drift.load('8f3tfecmenkc');
      </script>
      <!-- End of Async Drift Code -->

  </head>
  <body>
 <!-- Navbar Section -->
 <nav class="navbar">
  <div class="navbar__container">
    <a href="#home" id="navbar__logo">B.E TRACKER</a>
    <div class="navbar__toggle" id="mobile-menu">
      <span class="bar"></span>
       <span class="bar"></span>
      <span class="bar"></span>
    </div>
    
    <ul class="navbar__menu">
      <li class="navbar__item">
        <a href="\" class="navbar__links" id="home-page">Home</a>
      </li>
      <li class="navbar__item">
        <a href='\results' class="navbar__links" id="results-page">Results</a>
      </li>
      <li class="navbar__item">
        <a href="\recommendations" class="navbar__links" id="recommendations-page"
          >Recommendations</a>
      </li>
    </ul>
  </div>
</nav> 
<!-- End Navbar Section-->

    <!-- Hero Section -->
    <div class="bg_img  img1">
    <div class="hero" id="home">
    
      <div class="hero__container">
        <h1 class="hero__heading">Binge Eating Disorder <span></span></h1>
        <p class="hero__description">Hi, Welcome to B.E TRACKER. This is a tool built to help predict binge eating<br>
         and recommend ways that help curb binge eating.<br> Disclaimer:
       This is not a medical screening tool </p>
        <p class="hero__description"></p>

      <!-- button for log in to pop up -->
      <button class="start__btn" onclick="getstarted()"><span></span>Get Started</button>   

       
    <!-- BMI Form-->
        
    <div class="bmi-box" id="my__bmi">
   
  <h2>BMI Calculator</h2>
  <p class="text">Height in Cm</p>
  <input type="text" id="h">
  <p class="text">Weight in Kg</p>
  <input type="text" id="w">
  <p id="result"></p>
  
  <button id="bmi-btn" onclick="BMI()">Calculate</button>
  <button class="forward__btn" onclick="forward()">Next</button>
  </div>  

   <!-- Multi-step form -->   
      <div class="data-box" id="my__data">
        <header>User Details</header>
        <div class="progress-bar">    <!-- Step progress bar-->
           <div class="step">
              <p>
                BMI
              </p>
              <div class="bullet">
                 <span>1</span>
              </div>
              <div class="check fas fa-check"></div>
           </div>
           <div class="step">
              <p>
               Calories
              </p>
              <div class="bullet">
                 <span>2</span>
              </div>
              <div class="check fas fa-check"></div>
           </div>
           <div class="step">
              <p>
               Burnt
              </p>
              <div class="bullet">
                 <span>3</span>
              </div>
              <div class="check fas fa-check"></div>
           </div>
           <div class="step">
              <p>
                Mood
              </p>
              <div class="bullet">
                 <span>4</span>
              </div>
              <div class="check fas fa-check"></div>
           </div>
        </div>
        <div class="form-outer">  
          <!-- Form Beginning-->          
           <form action="{{ url_for('predict')}}"method="POST">
              <div class="page slide-page">
                 <div class="title">
                    BMI:
                 </div>
                 <div class="field">
                    <div class="label">
                      Please enter your BMI 
                    </div>
                    <input type="text" name="BMI" placeholder="ENTER BMI" required="required" />
                 </div>
                
              
                 <div class="field">
                    <button class="firstNext next">Next</button>
                 </div>
              </div>

              <div class="page">
                 <div class="title">
                    Calories Intake:
                 </div>
                 <div class="field">
                    <div class="label">
                       Please enter daily calorie intake
                    </div>
                    <input type="text" name="calories" placeholder="Calories Taken" required="required" />
                 </div>
                 <div class="field btns">
                    <button class="prev-1 prev">Previous</button>
                    <button class="next-1 next">Next</button>
                 </div>
              </div>

              <div class="page">
                 <div class="title">
                    Calories Burnt:
                 </div>
                 <div class="field">
                    <div class="label">
                       Please enter daily calories burnt
                    </div>
                    <input type="text" name="calories_burnt" placeholder="Calories Burnt" required="required" />
                 </div>
                 <div class="field btns">
                    <button class="prev-2 prev">Previous</button>
                    <button class="next-2 next">Next</button>
                 </div>
              </div>

              <div class="page">
                 <div class="title">
                 Enter Your Stress Level:
                 </div>
                 <div class="field">
                   <div class="label">
                    <p>100(Low)200 (Mild) 300(High) 400(Extreme)<p>
                   </div>
                   <input type="text" name="	Stress Levels" placeholder="Stress Level" required="required" />
                </div>
                
                 <div class="field btns">
                    <button class="prev-3 prev">Previous</button>
                    <button type="submit" class="predict__btn" onclick="predict()">Predict</button>
                 </div>
              </div>
           </form>
           
        </div>
     </div>  





      </div>
    </div>
  </div>  

    
   
    <script type = "text/javascript" 
    src = "{{ url_for('static', filename = 'js/app.js') }}" ></script>
    <script type = "text/javascript" 
    src = "{{ url_for('static', filename = 'js/main.js') }}" ></script>
    <script type = "text/javascript" 
    src = "{{ url_for('static', filename = 'js/script.js') }}" ></script>
  </body>
</html>     
